<SmartFoxTrisConfig>
    
    <ip>178.79.129.10</ip>
    
    <port>9339</port>
    
    <blueBoxIpAddress>localhost</blueBoxIpAddress>
    
    <blueBoxPort>8080</blueBoxPort>
    
    <smartConnect>true</smartConnect>
    
    <httpPort>8080</httpPort>
    
    <httpPollSpeed>750</httpPollSpeed>
    
    <zone>egtd</zone>
    
</SmartFoxTrisConfig>